<div class="page-container">

<% if @user == current_user %>

  <% if current_user.bookings.length > 0 %>
    <div class="row">
      <div class="user-info col-6">
        <div class="card-photo-user ml-2">
          <% if current_user.photo.attached? %>
            <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.photo.key, crop: :fill %>')"></div>
          <% else %>
            <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "avatar", crop: :fill %>')"></div>
          <% end %>
        </div>
        <div class="card-user-info mx-5 my-3">
          <div class="card-user-name mb-4 d-flex justify-content-around">
            <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>
            <%= link_to icon_edit("edit"), edit_user_registration_path, class: "btn-font-awesome"%>
          </div>
          Classes booked : <%= current_user.bookings.length %>
          Classes created : <%= current_user.courses.length %>
        </div>
      </div>
      <div class="card-cart d-flex flex-column col-3">
        <div class="cart-title"> Your cart </div>
        <div class="row">
          <% current_user.bookings.each do |booking| %>
            <div class="col-7 offset-1"> <%= booking.course.title %></div>
            <div class="col-3 offset-1 m-0"> <%= booking.course.price %>$</div>
          <% end %>
        </div>
          <div class="row card-cart-total">
            <div class="col-7 offset-1"><b> Total : </div>
            <% sum = 0 %>
            <div class="col-3 offset-1 m-0"> 
              <% current_user.bookings.each do |booking| %>
                <% sum += booking.course.price %>
              <% end %>
              <%= sum %>$
           </div></b>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="user-info">
      <div class="card-photo-user ml-2">
      <% if current_user.photo.attached? %>
        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.photo.key, crop: :fill %>')"></div>
      <% else %>
        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "avatar", crop: :fill %>')"></div>
      <% end %>
      </div>
      <div class="card-user-info mx-5 my-3">
        <div class="card-user-name mb-4 d-flex justify-content-around">
          <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>
          <%= link_to icon_edit("edit"), edit_user_registration_path, class: "ml-4 btn-font-awesome"%>
        </div>
        <p class="m-0">Classes booked : <%= current_user.bookings.length %></p>
        <p class="m-0">Classes created : <%= current_user.courses.length %></p>
      </div>
    </div>
  <% end %>


    <div class="d-flex justify-content-around mx-5 my-5">
      <%= link_to 'Create a New Class', new_course_path, class: "btn-create-new-course" %>
  </div>
    </div>
    <div class="title-user-courses mx-5 my-5"><h4> Your booked classes: </h4></div>

    <div class="d-flex justify-content-center flex-wrap">
      <% current_user.bookings.each do |booking| %>
        <div class="card-course-user-show mt-2 mr-2">
          <div>
            <h5 class="card-header mb-3"><%= booking.course.title %></h5>
          </div>
          <div>
            <h6 class="card-subtitle mb-2 text-muted">Teacher <%= "#{booking.course.user.first_name} #{booking.course.user.last_name}" %></h6>
          </div>
          <div class="mb-3">
            <p class="card-text">Description: <%= booking.course.description %></p>
          </div>
          <div class="card-align-bottom">
            <div class="d-flex justify-content-start">
              <p class="card-text mr-4">Date: <%= booking.course.schedule_date.strftime("%d/%m/%y") %></p>
              <p class="card-text">Hour: <%= booking.course.schedule_date.strftime("%H:%M") %></p>
            </div>
            <div class="d-flex justify-content-center">
              <%= link_to icon_destroy("trash"), booking_path(booking), method: :delete, class: "btn-font-awesome", data: { confirm: 'Are you sure?' } %>
          </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="title-user-courses mx-5 my-5"><h4> Classes you are offering: </h4></div>

    <div class="d-flex flex-column align-items-center">
      <% current_user.courses.each do |course| %>
        <div class="card-course-user-show mt-2" style="width: 50rem;">
          <div class="card-body">
            <h5 class="card-header mb-3"><%= course.title %> </h5>
            <p class="card-text">Description: <%= course.description %></p>
            <div class="d-flex justify-content-start">
              <p class="card-text mr-4">Date: <%= course.schedule_date.strftime("%d/%m/%y") %></p>
              <p class="card-text">Hour: <%= course.schedule_date.strftime("%H:%M") %></p>
            </div>
            <div class="d-flex justify-content-around">
              <%= link_to icon_edit("edit"), edit_course_path(course), class: "btn-font-awesome" %>
              <%= link_to 'Show Class', course_path(course), class: "btn-blue-green" %>
              <%= link_to icon_destroy("trash"), course_path(course), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-font-awesome" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<% else %>

  <div class="user-info d-flex align-items-center">
    <div class="card-photo-user ml-2">
      <% if @user.photo.attached? %>
        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.photo.key, crop: :fill %>')"></div>
      <% else %>
        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "avatar", crop: :fill %>')"></div>
      <% end %>
    </div>
    <div class="card-user-info mx-5 my-5">
      <h5>Teacher : <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h5>
      <% if @user.courses.length <= 1 %>
        <h5>Offering <%= @user.courses.length %> Class</h5>
      <% else %>
        <h5>Offering <%= @user.courses.length %> Classes</h5>
      <% end %>
    </div>
  </div>

  <div class="title-user-courses mx-5 my-5"><h4> Classes <%= @user.first_name %> is offering: </h4></div>

  <div class="d-flex flex-column align-items-center">
    <% @user.courses.each do |course| %>
      <div class="card-course-user-show mt-2" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-header mb-3"><%= course.title %> </h5>
          <p class="card-text">Description: <%= course.description %></p>
          <div class="d-flex justify-content-start">
            <p class="card-text mr-4">Date: <%= course.schedule_date.strftime("%d/%m/%y") %></p>
            <p class="card-text">Hour: <%= course.schedule_date.strftime("%H:%M") %></p>
          </div>
            <div class="d-flex justify-content-around">
              <%= link_to 'Show Class', course_path(course), class: "btn-blue-green" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
