<%= current_user.first_name %>
<%= current_user.last_name %>

<h3> Courses bokked by the user </h3>
<% current_user.bookings.each do |booking| %>
  <%= booking.course.title %>
  <%= booking.course.user.first_name booking.course.user.last_name %>
  <%= booking.course.scheduled_date %>
  <%= link_to 'Destroy Booking', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<h3> Courses created by the user </h3>
<% current_user.courses.each do |course| %>
  <%= course.title %>
  <%= course.description %>
  <%= course.scheduled_date %>
  <%= link_to 'Edit Course', edit_course_path(course) %>
  <%= link_to 'Destroy Course', course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Create a New Course', new_course_path %>
