<div class="logo mx-5 mt=5 mb-4 px=4">
  <%= image_tag "logo_search4class.png", alt: "Search 4 Class", width: 400 %>
</div>

<div class="page-container">

  <div class="user-info">
    <div class="mx-5 my-5">
      <h5>Name: <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h5>
      <h5>Email: <%= current_user.email %></h5>
      <h5>Password: **************** </h5>
    </div>
  </div>

  <div class="title-user-courses mx-5 my-5"><h4> Your booked courses: </h4></div>

  <div class="card" style="width: 18rem;">
  <% current_user.bookings.each do |booking| %>
      <div class="card-body">
        <h5 class="card-title"><%= booking.course.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Teacher <%= booking.course.user.first_name booking.course.user.last_name %></h6>
        <p class="card-text">Description: <%= booking.course.description %></p>
        <div class="d-flex justify-content-start">
          <p class="card-text mr-4">Date: <%= booking.course.schedule_date.strftime("%m/%d/%y") %></p>
          <p class="card-text">Hour: <%= booking.course.schedule_date.strftime("%H:%M") %></p>
        <div class="d-flex justify-content-center">
          <%= link_to 'Destroy Booking', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?', class: "btn-destroy-course" } %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="title-user-courses mx-5 my-5"><h4> Courses you are offering: </h4></div>

  <div class="d-flex justify-content-center">
    <div class="card mt-2" style="width: 50rem;">
    <% current_user.courses.each do |course| %>
        <div class="card-body">
          <h5 class="card-header mb-3"><%= course.title %> Course</h5>
          <p class="card-text">Description: <%= course.description %></p>
          <div class="d-flex justify-content-start">
            <p class="card-text mr-4">Date: <%= course.schedule_date.strftime("%m/%d/%y") %></p>
            <p class="card-text">Hour: <%= course.schedule_date.strftime("%H:%M") %></p>
          </div>
          <div class="d-flex justify-content-around">
            <%= link_to 'Edit Course', edit_course_path(course), class: "btn-edit-course" %>
            <%= link_to 'Destroy Course', course_path(course), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-destroy-course" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center mx-5 my-5">
    <%= link_to 'Create a New Course', new_course_path, class: "btn-create-new-course" %>
  </div>
</div>
