<nav class="navbar navbar-style">
  <% if user_signed_in? %>
    <%= link_to image_tag("logo_search4class.png", width: 200, height: 50), root_path, class: "link-home-page" %>
    <div class="navbar-right d-flex align-items-center">
      <%= link_to user_path(current_user), class: "cart-icon mr-2" do %>
        <div>
          <%= current_user.bookings.length %>
          <%= icon_cart("shopping-cart") %>
        </div>
      <% end %>
      <%= link_to profile_navbar, user_path(current_user), class: "mr-2" %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn-sign-outline" %>
    </div>
  <%  else %>
    <%= link_to image_tag("logo_search4class.png", width: 200, height: 50), root_path, class: "link-home-page" %>
     <div class="navbar-right">
      <%= link_to "Sign in", new_user_session_path, class: "btn-navbar" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn-sign-outline" %>
    </div>
  <% end %>
</nav>
