<nav class="navbar navbar-light bg-light nav_police">
  <% if user_signed_in? %>
  <%= link_to "Home Page", root_path %>
  <div class="navbar-right">
    <%= link_to "Your profile", user_path(current_user) %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  </div>
  <%  else %>
  <%= link_to "Home Page", root_path %>
  <div class="navbar-right">
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
  <% end %>
</nav>
