
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path('Search4ClassBanner.jpg')%>')">
  <div class="banner-title">
    Want to learn ? Find a Class.
  </div>
  <div class="banner-description">
    Find a class responding your expectations
  </div>
</div>
<div class="container mb-4">
  <div class="home-title my-4">
    Search for a class
  </div>

  <div class="home-search-bar my-2">
    <%= form_tag courses_path, method: :get do %>
      <%= text_field_tag :query, "", placeholder: "Enter a class name" %>
      <button class="btn-blue-green">Submit</button>
    <% end %>
  </div>

    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-4 mt-4">
          <%= link_to courses_path(category: category.id), {class: "without-text-decoration"} do %>
            <div class="card-category">
              <div class="card-category-photo" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path(category.name)%>')"></div>
              <div class="card-category-name">
                <%= category.name %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
