<div class="container mt-2 col-4 offset-4">
  <% if action_name == "new" || action_name == "create" %>
    <h1>Create a new course</h1>
  <% else %>
    <h1>Edit the course</h1>
  <% end %>
  <%= simple_form_for @course do |f| %>
    <%= f.input :title, class: "form-control" %>
    <%= f.input :description, class: "form-control" %>
    <%= f.association :category, label: "Category", class: "form_control" %>
    <%= f.input :schedule_date, class: "form-control", html5: true %>
    <%= f.input :duration, class: "form-control", label: "Duration (min)" %>
    <%= f.input :price, class: "form-control", label: "Price ($)" %>
    <%= f.label "Online course" %>
    <%= f.check_box :online %>
    <div id="address-container" class="<%= @course.persisted? && @course.online? ? 'hidden' : '' %>">
      <%= f.input :address, required: false, class: "form-control" %>
    </div>
    <% if action_name == "new" || action_name == "create"%>
      <div><%= f.submit "Add", class: "btn-blue-green" %></div>
    <% else %>
      <div><%= f.submit "Edit", class: "btn-blue-green" %></div>
    <% end %>
  <% end %>
