
<h1>Courses list</h1>
<% @courses.each do |course| %>
  <%= course.title %>
  <%= course.description %>
  <%= course.price %>
  <%= course.duration %>
  <%= link_to 'See Course', course_path(course) %>
<% end %>

<%= link_to 'New Course', new_course_path %>
