<div class="container">
<% if @search_name %>
  <div class="result-title">
    <h1>List of all the classes with "<%= @search_name %>"</h1>
  </div>
<% elsif @category_name %>
  <div class="result-title">
    <h1>List of all the classes in : <b><%= @category_name %></b></h1>
  </div>
<% else %>
  <div class="result-title">
    <h1>List of all the classes</h1>
  </div>
<% end %>

  <% @courses.each do |course| %>
    <%= link_to course_path(course), {class: "without-text-decoration"} do%>
      <div class="card-results-courses">
        <div class="card-results-prof">
          <% if course.user.photo.attached? %>
            <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path course.user.photo.key, crop: :fill %>')"></div>
          <% else %>
            <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "avatar.jpg", crop: :fill %>')"></div>
          <% end %>
          <div class="result-prof-name">
            <p><%= course.user.first_name %> <%= course.user.last_name %></p>
          </div>
        </div>
        <div class="card-results-information">
          <div class="result-course-name">
            <h1><%= course.title %></h1>
          </div>
          <div class="result-course-price-category d-flex">
            <div class="result-course-duration">
              <p> <%= course.duration %> min </p>
            </div>
            <div class="result-course-price ml-5">
              <p> <%= course.price %> $ </p>
            </div>
          </div>
          <div class="result-course-description">
            <p><%= course.description %></p>
          </div>
        </div>
        <div class="card-results-date-category d-flex flex-column justify-content-between">
          <div class="card-result-date">
            <div class="result-course-date">
              <p><%= course.schedule_date.to_date %></p>
            </div>
            <div class="result-course-hour">
              <% if course.schedule_date.min == 0 %>
                <p><% min = "00" %></p>
                <p><%= "#{course.schedule_date.hour}:#{min}" %></p>
              <% else %>
                <p><%= "#{course.schedule_date.hour}:#{course.schedule_date.min}" %></p>
              <% end %>
            </div>
          </div>
          <div class="result-course-category">
            <p><%= course.category.name %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="container-title mt-5 mb-2">
    <div class="text-center mt-2 mb-2">
      <h3>Map of Presential Courses</h3>
    </div>
  </div>
  <div class="container-map mx-2 mb-5 mt-3">
    <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
