<div class="page-container">
  <div class="container-course-show mb-3">
    <div class='course-show-category'>
      <%= @course.category.name %>
    </div>
  </div>

  <div class="course-show-card">
    <div class="course-show-title">
    <p><%= @course.title %></p>
    </div>
    <div class="photo-description">
      <div class="photo-showcard-user-name">
       <!--  add foto here -->
       <b><p><%= "#{@course.user.first_name} #{@course.user.last_name}"  %></p></b>
      </div>
      <div class="description-showcard">
        <b><p>Description</p></b>
      </div>
      <div class="show-description">
        <p><%= @course.description %></p>
        <br>
        <p><%= "Hour: #{@course.schedule_date.strftime("%H:%M")}" %></p>
        <p><%= "Date: #{@course.schedule_date.strftime("%d/%m/%y")}" %></p>
      </div>
    </div>
    <div class="course-show-flex">
      <p><%= "#{@course.duration} minutes" %></p>
      <% if current_user != @course.user %>
        <%= link_to "Book this class", course_bookings_path(@course), method: :post, class: 'btn-book-class' %>
      <% end %>
      <% if current_user === @course.user %>
        <div class="buttons-user">
          <%= link_to "Edit this class", edit_course_path(@course), class: 'btn-book-class' %>
          <%= link_to "Delete this class", course_path(@course), method: :delete, data: {confirm: "Are you sure ?"}, class: 'btn-book-class' %>
        </div>
      <% end %>
      <p><%= "Price: $ #{@course.price}" %></p>
    </div>
  </div>
  <div class="container-course-show mt-2">
    <%= link_to "Back to your profile", user_path(current_user), class: "btn-outline" %>
  </div>
</div>
